
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="m-header">
    <h2 class="m-title">Employees</h2>
</header>

<div class="content_inner">
    <div class="card">
        <div class="card-block">
            <a href="~/employee/create" class="btn btn--action btn--fixed btn-danger waves-effect"><i class="zmdi zmdi-plus"></i></a>
            <div class="row">
                <div class="col-md-12">
                    <input type="search" class="search-table" name="name" value="" />
                    <i class="zmdi zmdi-search m-search"></i>
                </div>            </div>
            <table id="employeeList" class="table table-bordered" cellspacing="0">
                <thead class="thead-default">
                    <tr role="row">
                        @*<th class="nosorting">Id</th>*@
                        <th class="nosorting">Name</th>
                        <th class="nosorting">Mobile</th>
                        <th class="nosorting">Email </th>
                        <th class="nosorting">Address</th>
                        @*<th class="nosorting">Status</th>*@
                        <th class="nosorting">Creation Date</th>
                        <th class="nosorting"></th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/admin.employee.js"></script>

}
