
@{
    ViewBag.Title = "Categorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-block">
        <div class="row">
            <div class="col col-md-10">
                <ul id="sortable"></ul>
            </div>


            <button class="btn" id="displayOrderChanges"> Save</button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/admin.categorize.js"></script>
}

