@model AMS.Models.MerchantServingArea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<header class="m-header">
    <h2 class="m-title">Details</h2>
</header>
<h2 class="title"><a class="btn btn-secondary btn--icon-text waves-effect" href="~/MerchantServingArea/"><span><i class="zmdi zmdi-arrow-back"></i> Back</span></a></h2>


<div class="card-block">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingId)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantId)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MerchantId)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-secondary btn--icon-text" href="~/MerchantServingArea/Edit/@Model.Id"><span><i class="zmdi zmdi-edit zmdi-hc-fw"></i>Edit</span></a>
</p>
