
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="m-header">
    <h2 class="m-title">Reporting Issues</h2>
</header>
<div class="content_inner">
    <div class="card">
        <div class="card-block">
            @*<a href="~/ReportingIssues/create" class="btn btn--action btn--fixed btn-danger waves-effect"><i class="zmdi zmdi-plus"></i></a>*@
            <div class="row">
                <div class="col-md-12">
                    <input type="search" class="search-table" name="name" value="" />
                    <i class="zmdi zmdi-search m-search"></i>
                </div>               
            </div>
             <table id="reportingIssuesList" class="table table-bordered" cellspacing="0">
                <thead class="thead-default">
                    <tr>
                        <th class="nosorting">Id</th>
                        <th class="nosorting">Merchant</th>
                        <th class="nosorting">Mobile</th>
                        <th class="nosorting">Total </th>
                        <th class="nosorting">Text</th>
                        <th class="nosorting">OrderId</th>
                        @*<th class="nosorting">Status</th>*@
                        <th class="nosorting">Creation Date</th>
                        @*<th class="nosorting"></th>*@
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>






@section scripts{
    <script>
        (function () {
           
            var datatable;
            var _dt = new DataTableEntry();

                if (datatable) datatable.destroy();
                // $('#ReadyOrders').css('display', 'block');

                datatable = _dt.bindDataTable('#reportingIssuesList', [0, 1, 2, 3, 4, 5, 6],
                    function (data, a, b, c) {
                        if (c.col == 6) {
                            var orderTime = moment.utc(data).toDate();
                            return moment(orderTime).format('DD/MM/YYYY hh:mm:ss A')
                        }
                            //if (c.col == 7)
                            //    return `<div class="btn-group btn-group-sm btn-group-right pull-right" role="group" aria-label="...">
                            //                <div class="btn-group" role="group">
                            //                    <a class ="btn btn-sm btn-default" href= "/reportingIssues/Edit/`+ b.id + `" >Edit</a>
                            //                </div>
                            //                <div class="btn-group" role="group">
                            //                    <a class ="btn btn-sm btn-default" href= "/reportingIssues/Details/`+ b.id + `" >Details</a>
                            //                </div>
                            //            </div>`
                        else
                            return data;
                    }, 'admin/reportingIssues', 'POST', {},
                    [
                    { "data": "id" },
                    { "data": "merchantName" },
                    { "data": "userPhone" },
                    { "data": "total" },
                    { "data": "text" },
                    { "data": "orderId" },
                    { "data": "creationDate" },
                    //{ "data": "password" }
                    ]);

                setTimeout(function () {
                    data = $('#reportingIssuesList tbody tr');
                }, 1500);

                $('input').on('keyup', function (e) {
                    var searchVal = $(this).val();
                    var objArr = [];
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].cells[0].innerText.includes(searchVal)) objArr.push(data[i]);
                    }
                    if (objArr.length == 0) objArr.push('<tr><td colspan="9" class="dataTables_empty">No Match</td></tr>')
                    $('#reportingIssuesList tbody').empty();
                    for (var i = 0; i < objArr.length; i++) {
                        $('#ReadyOrders tbody').append(objArr[i]);
                    }
                    $('#reportingIssuesList tbody').html(objArr);
                });
        }());


    </script>

}