<style>
    #ploader {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        z-index: 99;
    }

        #ploader .wrapper {
            background: #fff;
            opacity: 0.65;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #ploader .table {
            display: table;
            width: 100%;
            height: 100%;
            position: relative;
        }

            #ploader .table .cell {
                display: table-cell;
                vertical-align: middle;
            }

                #ploader .table .cell .msg {
                    background: #fff;
                    padding: 20px;
                    max-width: 300px;
                    margin: auto;
                    text-align: center;
                    border-radius: 5px;
                    font-size: 20px;
                }
</style>

<div id="ploader">
    <div class="wrapper"></div>
    <div class="table">
        <div class="cell">
            <div class="msg"><img src="~/Content/images/Logo_PSD2.gif" /></div>@*<img src="~/content/images/loader.gif" /> Loading... Please wait*@
        </div>
    </div>
</div>
